<!-- Button to Open Cart -->
<div class="button-container">
    <button id="open-cart" class="view-cart-btn" onclick="openCart()">View Cart</button>
</div>

<section class="blog spad py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                {{> sidebar}}
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {{#each dishes}}
                    <div class="col-12 col-md-6 py-3">
                        <div class="card border-0">
                            <img class="card-img-top img-fluid" src="/Menu/{{DishName}}.jpeg" alt="Title" />
                        </div>
                        <div class="card-body">
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{DishSection}}</li>
                                    <li><i class="fa fa-comment-o"></i> {{formatDelivery DeliveryAvailable}}</li>
                                </ul>
                                <h5>{{DishName}}</h5>
                                <p>{{formatCurrency CurrentPrice}}</p>
                                <a href="#" 
                                   class="blog__btn d-flex justify-content-center align-items-center add-to-cart" 
                                   data-id="{{id}}" 
                                   data-name="{{DishName}}" 
                                   data-price="{{CurrentPrice}}" 
                                   data-section="{{DishSection}}">
                                   ADD TO CART<span class="arrow_right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
           <div class="col-lg-12 d-flex justify-content-center align-items-center mt-4">
                    {{{createPagination pagination
                        paginationClass = "product__pagination blog__pagination d-flex align-items-center"
                        leftText = '<i class="bi bi-arrow-left mx-2"></i>'
                        rightText = '<i class="bi bi-arrow-right mx-2"></i>'
                        currentPage = currentPage
                    }}}
            </div>
        </div>  
    </div> 
</section>       

<!-- Cart Popup -->
<div id="cart-popup" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close-btn" onclick="closeCart()">&times;</span>
        <h2>Your Cart</h2>
        <ul id="cart-items"></ul>
        <p id="total-price">Total: $0.00</p> <!-- Total price display -->
        <button id="checkout" onclick="checkout()">Checkout</button>
        <button id="clear-cart" onclick="clearCart()">Clear Cart</button>
    </div>
</div>

<script src="/js/menu.js"></script>