<section class="blog spad py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                    {{> sidebar}}
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {{#each dishes}}
                    <div class="col-12 col-md-6 py-3">
                            <div class="card border-0">
                                <img class="card-img-top img-fluid" src="/Menu/{{DishName}}.jpeg" alt="Title" />
                            </div>
                            <div class="card-body">
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> {{DishSection}}</li>
                                        <li><i class="fa fa-comment-o"></i> {{DeliveryAvailable}}</li>
                                    </ul>
                                    <h5>{{DishName}}</h5>
                                    <p>{{CurrentPrice}}</p>
                                    <a href="/blogs/{{id}}" class="blog__btn">ADD TO CART<span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                {{{createPagination pagination  
                    paginationClass = "product__pagination blog__pagination d-flex align-items-center" 
                    leftText = '<i class="bi bi-arrow-left mx-2"></i>'
                    rightText = '<i class="bi bi-arrow-right mx-2"></i>'
                    currentPage = currentPage
                }}}
            </div>

        </div>  
    </div> 
</section>       